<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/manik/IdeaProjects/APACHEPOI">
        <classes>
            <class name="org.example.DataProviderTestingEXCEL">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
            <class name="org.example.DataProviderTestingXML">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>